USE [master]
GO
/****** Object:  Database [IS495DB]    Script Date: 11/13/2022 7:58:43 AM ******/
CREATE DATABASE [IS495DB] ON  PRIMARY 
( NAME = N'IS495DB', FILENAME = N'E:\Students\MSSQL11.STUDENTS\MSSQL\Data\IS495DB.mdf' , SIZE = 9280KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'IS495DB_log', FILENAME = N'E:\Students\MSSQL11.STUDENTS\MSSQL\Data\IS495DB_log.ldf' , SIZE = 15040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [IS495DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [IS495DB]
GO
/****** Object:  User [unr\rshafer]    Script Date: 11/13/2022 7:58:43 AM ******/
CREATE USER [unr\rshafer] FOR LOGIN [unr\rshafer] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [unr\mjgomez]    Script Date: 11/13/2022 7:58:43 AM ******/
CREATE USER [unr\mjgomez] FOR LOGIN [unr\mjgomez] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [unr\jderouchey]    Script Date: 11/13/2022 7:58:43 AM ******/
CREATE USER [unr\jderouchey] FOR LOGIN [unr\jderouchey] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [unr\dhenning]    Script Date: 11/13/2022 7:58:43 AM ******/
CREATE USER [unr\dhenning] FOR LOGIN [unr\dhenning] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [unr\bthorpe]    Script Date: 11/13/2022 7:58:43 AM ******/
CREATE USER [unr\bthorpe] FOR LOGIN [unr\bthorpe] WITH DEFAULT_SCHEMA=[dbo]
GO
sys.sp_addrolemember @rolename = N'db_owner', @membername = N'unr\rshafer'
GO
sys.sp_addrolemember @rolename = N'db_owner', @membername = N'unr\mjgomez'
GO
sys.sp_addrolemember @rolename = N'db_owner', @membername = N'unr\jderouchey'
GO
sys.sp_addrolemember @rolename = N'db_owner', @membername = N'unr\dhenning'
GO
sys.sp_addrolemember @rolename = N'db_owner', @membername = N'unr\bthorpe'
GO
/****** Object:  Table [dbo].[ASSIGNEE]    Script Date: 11/13/2022 7:58:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ASSIGNEE](
	[AssigneeID] [int] NOT NULL,
	[EmployeeID] [int] NULL,
	[WorkOrderID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[AssigneeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BILLINGTYPE]    Script Date: 11/13/2022 7:58:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BILLINGTYPE](
	[BillingTypeID] [int] NOT NULL,
	[BillingType] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[BillingTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMPANY]    Script Date: 11/13/2022 7:58:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMPANY](
	[CompanyID] [int] NOT NULL,
	[CompanyName] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[CompanyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONTACT]    Script Date: 11/13/2022 7:58:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONTACT](
	[ContactID] [int] NOT NULL,
	[FirstName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[EmailAddress] [nvarchar](70) NULL,
	[PhoneNumber] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[ContactID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUSTOMER]    Script Date: 11/13/2022 7:58:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMER](
	[CustomerID] [int] NOT NULL,
	[FirstName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[EmailAddress] [nvarchar](70) NULL,
	[PhoneNumber] [varchar](15) NULL,
	[EmpAddress] [varchar](100) NULL,
	[City] [varchar](50) NULL,
	[EmpState] [char](2) NULL,
	[ZipCode] [varchar](10) NULL,
	[DepartmentID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DEPARTMENT]    Script Date: 11/13/2022 7:58:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPARTMENT](
	[DepartmentID] [int] NOT NULL,
	[DepartmentName] [varchar](100) NULL,
	[CompanyID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[DepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLOYEE]    Script Date: 11/13/2022 7:58:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLOYEE](
	[EmployeeID] [int] NOT NULL,
	[FirstName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[Email] [nvarchar](70) NULL,
	[Phone] [varchar](15) NULL,
	[EmpAddress] [varchar](100) NULL,
	[City] [varchar](50) NULL,
	[EmpState] [char](2) NULL,
	[ZipCode] [varchar](10) NULL,
	[DepartmentID] [int] NULL,
	[JobTitleID] [int] NULL,
	[EmployeeTypeID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLOYEETYPE]    Script Date: 11/13/2022 7:58:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLOYEETYPE](
	[EmployeeTypeID] [int] NOT NULL,
	[EmployeeType] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ENTRYTYPE]    Script Date: 11/13/2022 7:58:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ENTRYTYPE](
	[EntryTypeID] [int] NOT NULL,
	[EntryType] [varchar](100) NULL,
	[Billable] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[EntryTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IPO]    Script Date: 11/13/2022 7:58:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IPO](
	[IPOID] [int] NOT NULL,
	[IPODate] [date] NULL,
	[CreationDate] [date] NULL,
	[PaymentDate] [date] NULL,
	[IPOStatusID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IPOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IPORATE]    Script Date: 11/13/2022 7:58:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IPORATE](
	[IPORateID] [int] NOT NULL,
	[ServiceRateID] [int] NULL,
	[IPOID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IPORateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IPOSTATUS]    Script Date: 11/13/2022 7:58:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IPOSTATUS](
	[IPOstatusID] [int] NOT NULL,
	[IPOStatus] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[IPOstatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JOBTITLE]    Script Date: 11/13/2022 7:58:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JOBTITLE](
	[JobTitleID] [int] NOT NULL,
	[JobTitle] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[JobTitleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SERVICERATE]    Script Date: 11/13/2022 7:58:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SERVICERATE](
	[ServiceRateID] [int] NOT NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[FiscalYear] [varchar](4) NULL,
	[Rate] [decimal](12, 6) NULL,
PRIMARY KEY CLUSTERED 
(
	[ServiceRateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SERVICETYPE]    Script Date: 11/13/2022 7:58:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SERVICETYPE](
	[ServiceTypeID] [int] NOT NULL,
	[ServiceType] [varchar](80) NULL,
	[ServiceDescription] [varchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[ServiceTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_GRANT]    Script Date: 11/13/2022 7:58:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_GRANT](
	[GrantID] [varchar](10) NOT NULL,
	[GrantName] [varchar](200) NULL,
	[Budget] [decimal](12, 6) NULL,
PRIMARY KEY CLUSTERED 
(
	[GrantID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIMESHEET]    Script Date: 11/13/2022 7:58:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIMESHEET](
	[TimeSheetID] [int] NOT NULL,
	[WorkOrderID] [int] NULL,
	[EmployeeID] [int] NULL,
	[EntryTypeID] [int] NULL,
	[BillingTypeID] [int] NULL,
	[TimeTypeID] [int] NULL,
	[ServiceTypeID] [int] NULL,
	[IPOID] [int] NULL,
	[WorkDateTime] [date] NULL,
	[TimeWorkedHours] [decimal](4, 2) NULL,
	[WorkPerformed] [varchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[TimeSheetID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIMETYPE]    Script Date: 11/13/2022 7:58:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIMETYPE](
	[TimeTypeID] [int] NOT NULL,
	[TimeType] [varchar](100) NULL,
	[Category] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[TimeTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WORKORDER]    Script Date: 11/13/2022 7:58:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WORKORDER](
	[WorkOrderID] [int] NOT NULL,
	[EmployeeID] [int] NULL,
	[CustomerID] [int] NULL,
	[PriorityID] [int] NULL,
	[StatusID] [int] NULL,
	[SubmittedDate] [date] NULL,
	[WorkOrderDescription] [varchar](300) NULL,
	[StartDate] [date] NULL,
	[DueDate] [date] NULL,
	[ClosedDate] [date] NULL,
	[Notes] [varchar](2000) NULL,
	[ProjectName] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[WorkOrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WORKORDERCONTACT]    Script Date: 11/13/2022 7:58:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WORKORDERCONTACT](
	[WorkOrderContactID] [int] NOT NULL,
	[ContactID] [int] NULL,
	[WorkOrderID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[WorkOrderContactID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WORKORDERGRANT]    Script Date: 11/13/2022 7:58:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WORKORDERGRANT](
	[WorkOrderGrantID] [int] NOT NULL,
	[WorkOrderID] [int] NULL,
	[GrantID] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[WorkOrderGrantID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WORKORDERPRIORITY]    Script Date: 11/13/2022 7:58:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WORKORDERPRIORITY](
	[PriorityID] [int] NOT NULL,
	[PriorityType] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[PriorityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WORKORDERSTATUS]    Script Date: 11/13/2022 7:58:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WORKORDERSTATUS](
	[StatusID] [int] NOT NULL,
	[StatusType] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[StatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[x1]    Script Date: 11/13/2022 7:58:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[x1] as 
select Employee.EmployeeID,
		FirstName,
		LastName
from EMPLOYEE
inner join WORKORDER
on WORKORDER.EmployeeID = EMPLOYEE.EmployeeID
GO
ALTER TABLE [dbo].[ASSIGNEE]  WITH CHECK ADD FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[EMPLOYEE] ([EmployeeID])
GO
ALTER TABLE [dbo].[ASSIGNEE]  WITH CHECK ADD FOREIGN KEY([WorkOrderID])
REFERENCES [dbo].[WORKORDER] ([WorkOrderID])
GO
ALTER TABLE [dbo].[CUSTOMER]  WITH CHECK ADD FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[DEPARTMENT] ([DepartmentID])
GO
ALTER TABLE [dbo].[DEPARTMENT]  WITH CHECK ADD FOREIGN KEY([CompanyID])
REFERENCES [dbo].[COMPANY] ([CompanyID])
GO
ALTER TABLE [dbo].[EMPLOYEE]  WITH CHECK ADD FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[DEPARTMENT] ([DepartmentID])
GO
ALTER TABLE [dbo].[EMPLOYEE]  WITH CHECK ADD FOREIGN KEY([EmployeeTypeID])
REFERENCES [dbo].[EMPLOYEETYPE] ([EmployeeTypeID])
GO
ALTER TABLE [dbo].[EMPLOYEE]  WITH CHECK ADD FOREIGN KEY([JobTitleID])
REFERENCES [dbo].[JOBTITLE] ([JobTitleID])
GO
ALTER TABLE [dbo].[IPO]  WITH CHECK ADD FOREIGN KEY([IPOStatusID])
REFERENCES [dbo].[IPOSTATUS] ([IPOstatusID])
GO
ALTER TABLE [dbo].[IPORATE]  WITH CHECK ADD FOREIGN KEY([IPOID])
REFERENCES [dbo].[IPO] ([IPOID])
GO
ALTER TABLE [dbo].[IPORATE]  WITH CHECK ADD FOREIGN KEY([ServiceRateID])
REFERENCES [dbo].[SERVICERATE] ([ServiceRateID])
GO
ALTER TABLE [dbo].[TIMESHEET]  WITH CHECK ADD FOREIGN KEY([BillingTypeID])
REFERENCES [dbo].[BILLINGTYPE] ([BillingTypeID])
GO
ALTER TABLE [dbo].[TIMESHEET]  WITH CHECK ADD FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[EMPLOYEE] ([EmployeeID])
GO
ALTER TABLE [dbo].[TIMESHEET]  WITH CHECK ADD FOREIGN KEY([EntryTypeID])
REFERENCES [dbo].[ENTRYTYPE] ([EntryTypeID])
GO
ALTER TABLE [dbo].[TIMESHEET]  WITH CHECK ADD FOREIGN KEY([IPOID])
REFERENCES [dbo].[IPO] ([IPOID])
GO
ALTER TABLE [dbo].[TIMESHEET]  WITH CHECK ADD FOREIGN KEY([ServiceTypeID])
REFERENCES [dbo].[SERVICETYPE] ([ServiceTypeID])
GO
ALTER TABLE [dbo].[TIMESHEET]  WITH CHECK ADD FOREIGN KEY([TimeTypeID])
REFERENCES [dbo].[TIMETYPE] ([TimeTypeID])
GO
ALTER TABLE [dbo].[TIMESHEET]  WITH CHECK ADD FOREIGN KEY([WorkOrderID])
REFERENCES [dbo].[WORKORDER] ([WorkOrderID])
GO
ALTER TABLE [dbo].[WORKORDER]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[CUSTOMER] ([CustomerID])
GO
ALTER TABLE [dbo].[WORKORDER]  WITH CHECK ADD FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[EMPLOYEE] ([EmployeeID])
GO
ALTER TABLE [dbo].[WORKORDER]  WITH CHECK ADD FOREIGN KEY([PriorityID])
REFERENCES [dbo].[WORKORDERPRIORITY] ([PriorityID])
GO
ALTER TABLE [dbo].[WORKORDER]  WITH CHECK ADD FOREIGN KEY([StatusID])
REFERENCES [dbo].[WORKORDERSTATUS] ([StatusID])
GO
ALTER TABLE [dbo].[WORKORDERCONTACT]  WITH CHECK ADD FOREIGN KEY([ContactID])
REFERENCES [dbo].[CONTACT] ([ContactID])
GO
ALTER TABLE [dbo].[WORKORDERCONTACT]  WITH CHECK ADD FOREIGN KEY([WorkOrderID])
REFERENCES [dbo].[WORKORDER] ([WorkOrderID])
GO
ALTER TABLE [dbo].[WORKORDERGRANT]  WITH CHECK ADD FOREIGN KEY([GrantID])
REFERENCES [dbo].[TBL_GRANT] ([GrantID])
GO
ALTER TABLE [dbo].[WORKORDERGRANT]  WITH CHECK ADD FOREIGN KEY([WorkOrderID])
REFERENCES [dbo].[WORKORDER] ([WorkOrderID])
GO
USE [master]
GO
