USE [master]
GO
/****** Object:  Database [Agile-Alpha]    Script Date: 11/26/2022 11:13:47 AM ******/
CREATE DATABASE [Agile-Alpha]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Agile-Alpha', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Agile-Alpha.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Agile-Alpha_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Agile-Alpha_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Agile-Alpha].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Agile-Alpha]
GO
/****** Object:  Table [dbo].[ASSIGNEE]    Script Date: 11/26/2022 11:13:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ASSIGNEE](
	[AssigneeID] [int] NOT NULL,
	[EmployeeID_ASSIGNEE] [int] NULL,
	[WorkOrderID_ASSIGNEE] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[AssigneeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BILLINGTYPE]    Script Date: 11/26/2022 11:13:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BILLINGTYPE](
	[BillingTypeID] [int] NOT NULL,
	[BillingType] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[BillingTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMPANY]    Script Date: 11/26/2022 11:13:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMPANY](
	[CompanyID] [int] NOT NULL,
	[CompanyName] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[CompanyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONTACT]    Script Date: 11/26/2022 11:13:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONTACT](
	[ContactID] [int] NOT NULL,
	[ContactFirstName] [varchar](50) NULL,
	[ContactLastName] [varchar](50) NULL,
	[ContactEmail] [nvarchar](70) NULL,
	[ContactPhone] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[ContactID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUSTOMER]    Script Date: 11/26/2022 11:13:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMER](
	[CustomerID] [int] NOT NULL,
	[CustFirstName] [varchar](50) NULL,
	[CustLastName] [varchar](50) NULL,
	[CustEmail] [nvarchar](70) NULL,
	[CustPhone] [varchar](15) NULL,
	[CustAddress] [varchar](100) NULL,
	[CustCity] [varchar](50) NULL,
	[CustState] [char](2) NULL,
	[CustZip] [varchar](10) NULL,
	[DepartmentID_CUSTOMER] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DEPARTMENT]    Script Date: 11/26/2022 11:13:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPARTMENT](
	[DepartmentID] [int] NOT NULL,
	[DepartmentName] [varchar](100) NULL,
	[CompanyID_DEPARTMENT] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[DepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLOYEE]    Script Date: 11/26/2022 11:13:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLOYEE](
	[EmployeeID] [int] NOT NULL,
	[EmpFirstName] [varchar](50) NULL,
	[EmpLastName] [varchar](50) NULL,
	[EmpEmail] [nvarchar](70) NULL,
	[EmpPhone] [varchar](15) NULL,
	[EmpAddress] [varchar](100) NULL,
	[EmpCity] [varchar](50) NULL,
	[EmpState] [char](2) NULL,
	[EmpZipCode] [varchar](10) NULL,
	[DepartmentID_EMPLOYEE] [int] NULL,
	[JobTitleID_EMPLOYEE] [int] NULL,
	[EmployeeTypeID_EMPLOYEE] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLOYEETYPE]    Script Date: 11/26/2022 11:13:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLOYEETYPE](
	[EmployeeTypeID] [int] NOT NULL,
	[EmployeeType] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ENTRYTYPE]    Script Date: 11/26/2022 11:13:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ENTRYTYPE](
	[EntryTypeID] [int] NOT NULL,
	[EntryType] [varchar](100) NULL,
	[Billable] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[EntryTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IPO]    Script Date: 11/26/2022 11:13:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IPO](
	[IPOID] [int] NOT NULL,
	[IPODate] [date] NULL,
	[IPOCreationDate] [date] NULL,
	[IPOPaymentDate] [date] NULL,
	[IPOStatusID_IPO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IPOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IPORATE]    Script Date: 11/26/2022 11:13:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IPORATE](
	[IPORateID] [int] NOT NULL,
	[ServiceRateID_IPORATE] [int] NULL,
	[IPOID_IPORATE] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IPORateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IPOSTATUS]    Script Date: 11/26/2022 11:13:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IPOSTATUS](
	[IPOstatusID] [int] NOT NULL,
	[IPOStatus] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[IPOstatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JOBTITLE]    Script Date: 11/26/2022 11:13:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JOBTITLE](
	[JobTitleID] [int] NOT NULL,
	[JobTitle] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[JobTitleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SERVICERATE]    Script Date: 11/26/2022 11:13:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SERVICERATE](
	[ServiceRateID] [int] NOT NULL,
	[RateStartDate] [date] NULL,
	[RateEndDate] [date] NULL,
	[FiscalYear] [varchar](4) NULL,
	[ServiceRate] [decimal](12, 6) NULL,
PRIMARY KEY CLUSTERED 
(
	[ServiceRateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SERVICETYPE]    Script Date: 11/26/2022 11:13:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SERVICETYPE](
	[ServiceTypeID] [int] NOT NULL,
	[ServiceType] [varchar](80) NULL,
	[ServiceDescription] [varchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[ServiceTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_GRANT]    Script Date: 11/26/2022 11:13:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_GRANT](
	[GrantID] [varchar](10) NOT NULL,
	[GrantName] [varchar](200) NULL,
	[Budget] [decimal](12, 6) NULL,
PRIMARY KEY CLUSTERED 
(
	[GrantID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIMESHEET]    Script Date: 11/26/2022 11:13:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIMESHEET](
	[TimeSheetID] [int] NOT NULL,
	[WorkOrderID_TIMESHEET] [int] NULL,
	[EmployeeID_TIMESHEET] [int] NULL,
	[EntryTypeID_TIMESHEET] [int] NULL,
	[BillingTypeID_TIMESHEET] [int] NULL,
	[TimeTypeID_TIMESHEET] [int] NULL,
	[ServiceTypeID_TIMESHEET] [int] NULL,
	[IPOID_TIMESHEET] [int] NULL,
	[TimeSheetDate] [date] NULL,
	[TimeWorkedHours] [decimal](4, 2) NULL,
	[WorkPerformed] [varchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[TimeSheetID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIMETYPE]    Script Date: 11/26/2022 11:13:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIMETYPE](
	[TimeTypeID] [int] NOT NULL,
	[TimeType] [varchar](100) NULL,
	[Category] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[TimeTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WORKORDER]    Script Date: 11/26/2022 11:13:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WORKORDER](
	[WorkOrderID] [int] NOT NULL,
	[EmployeeID_WORKORDER] [int] NULL,
	[CustomerID_WORKORDER] [int] NULL,
	[PriorityID_WORKORDER] [int] NULL,
	[StatusID_WORKORDER] [int] NULL,
	[WorkOrderSubmittedDate] [date] NULL,
	[WorkOrderDescription] [varchar](300) NULL,
	[WorkOrderStartDate] [date] NULL,
	[WorkOrderDueDate] [date] NULL,
	[WorkOrderClosedDate] [date] NULL,
	[WorkOrderNotes] [varchar](2000) NULL,
	[ProjectName] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[WorkOrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WORKORDERCONTACT]    Script Date: 11/26/2022 11:13:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WORKORDERCONTACT](
	[WorkOrderContactID] [int] NOT NULL,
	[ContactID_WORKORDERCONTACT] [int] NULL,
	[WorkOrderID_WORKORDERCONTACT] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[WorkOrderContactID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WORKORDERGRANT]    Script Date: 11/26/2022 11:13:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WORKORDERGRANT](
	[WorkOrderGrantID] [int] NOT NULL,
	[WorkOrderID_WORKORDERGRANT] [int] NULL,
	[GrantID_WORKORDERGRANT] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[WorkOrderGrantID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WORKORDERPRIORITY]    Script Date: 11/26/2022 11:13:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WORKORDERPRIORITY](
	[PriorityID] [int] NOT NULL,
	[PriorityType] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[PriorityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WORKORDERSTATUS]    Script Date: 11/26/2022 11:13:48 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WORKORDERSTATUS](
	[StatusID] [int] NOT NULL,
	[StatusType] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[StatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ASSIGNEE]  WITH CHECK ADD FOREIGN KEY([EmployeeID_ASSIGNEE])
REFERENCES [dbo].[EMPLOYEE] ([EmployeeID])
GO
ALTER TABLE [dbo].[ASSIGNEE]  WITH CHECK ADD FOREIGN KEY([WorkOrderID_ASSIGNEE])
REFERENCES [dbo].[WORKORDER] ([WorkOrderID])
GO
ALTER TABLE [dbo].[CUSTOMER]  WITH CHECK ADD FOREIGN KEY([DepartmentID_CUSTOMER])
REFERENCES [dbo].[DEPARTMENT] ([DepartmentID])
GO
ALTER TABLE [dbo].[DEPARTMENT]  WITH CHECK ADD FOREIGN KEY([CompanyID_DEPARTMENT])
REFERENCES [dbo].[COMPANY] ([CompanyID])
GO
ALTER TABLE [dbo].[EMPLOYEE]  WITH CHECK ADD FOREIGN KEY([DepartmentID_EMPLOYEE])
REFERENCES [dbo].[DEPARTMENT] ([DepartmentID])
GO
ALTER TABLE [dbo].[EMPLOYEE]  WITH CHECK ADD FOREIGN KEY([EmployeeTypeID_EMPLOYEE])
REFERENCES [dbo].[EMPLOYEETYPE] ([EmployeeTypeID])
GO
ALTER TABLE [dbo].[EMPLOYEE]  WITH CHECK ADD FOREIGN KEY([JobTitleID_EMPLOYEE])
REFERENCES [dbo].[JOBTITLE] ([JobTitleID])
GO
ALTER TABLE [dbo].[IPO]  WITH CHECK ADD FOREIGN KEY([IPOStatusID_IPO])
REFERENCES [dbo].[IPOSTATUS] ([IPOstatusID])
GO
ALTER TABLE [dbo].[IPORATE]  WITH CHECK ADD FOREIGN KEY([IPOID_IPORATE])
REFERENCES [dbo].[IPO] ([IPOID])
GO
ALTER TABLE [dbo].[IPORATE]  WITH CHECK ADD FOREIGN KEY([ServiceRateID_IPORATE])
REFERENCES [dbo].[SERVICERATE] ([ServiceRateID])
GO
ALTER TABLE [dbo].[TIMESHEET]  WITH CHECK ADD FOREIGN KEY([BillingTypeID_TIMESHEET])
REFERENCES [dbo].[BILLINGTYPE] ([BillingTypeID])
GO
ALTER TABLE [dbo].[TIMESHEET]  WITH CHECK ADD FOREIGN KEY([EmployeeID_TIMESHEET])
REFERENCES [dbo].[EMPLOYEE] ([EmployeeID])
GO
ALTER TABLE [dbo].[TIMESHEET]  WITH CHECK ADD FOREIGN KEY([EntryTypeID_TIMESHEET])
REFERENCES [dbo].[ENTRYTYPE] ([EntryTypeID])
GO
ALTER TABLE [dbo].[TIMESHEET]  WITH CHECK ADD FOREIGN KEY([IPOID_TIMESHEET])
REFERENCES [dbo].[IPO] ([IPOID])
GO
ALTER TABLE [dbo].[TIMESHEET]  WITH CHECK ADD FOREIGN KEY([ServiceTypeID_TIMESHEET])
REFERENCES [dbo].[SERVICETYPE] ([ServiceTypeID])
GO
ALTER TABLE [dbo].[TIMESHEET]  WITH CHECK ADD FOREIGN KEY([TimeTypeID_TIMESHEET])
REFERENCES [dbo].[TIMETYPE] ([TimeTypeID])
GO
ALTER TABLE [dbo].[TIMESHEET]  WITH CHECK ADD FOREIGN KEY([WorkOrderID_TIMESHEET])
REFERENCES [dbo].[WORKORDER] ([WorkOrderID])
GO
ALTER TABLE [dbo].[WORKORDER]  WITH CHECK ADD FOREIGN KEY([CustomerID_WORKORDER])
REFERENCES [dbo].[CUSTOMER] ([CustomerID])
GO
ALTER TABLE [dbo].[WORKORDER]  WITH CHECK ADD FOREIGN KEY([EmployeeID_WORKORDER])
REFERENCES [dbo].[EMPLOYEE] ([EmployeeID])
GO
ALTER TABLE [dbo].[WORKORDER]  WITH CHECK ADD FOREIGN KEY([PriorityID_WORKORDER])
REFERENCES [dbo].[WORKORDERPRIORITY] ([PriorityID])
GO
ALTER TABLE [dbo].[WORKORDER]  WITH CHECK ADD FOREIGN KEY([StatusID_WORKORDER])
REFERENCES [dbo].[WORKORDERSTATUS] ([StatusID])
GO
ALTER TABLE [dbo].[WORKORDERCONTACT]  WITH CHECK ADD FOREIGN KEY([ContactID_WORKORDERCONTACT])
REFERENCES [dbo].[CONTACT] ([ContactID])
GO
ALTER TABLE [dbo].[WORKORDERCONTACT]  WITH CHECK ADD FOREIGN KEY([WorkOrderID_WORKORDERCONTACT])
REFERENCES [dbo].[WORKORDER] ([WorkOrderID])
GO
ALTER TABLE [dbo].[WORKORDERGRANT]  WITH CHECK ADD FOREIGN KEY([GrantID_WORKORDERGRANT])
REFERENCES [dbo].[TBL_GRANT] ([GrantID])
GO
ALTER TABLE [dbo].[WORKORDERGRANT]  WITH CHECK ADD FOREIGN KEY([WorkOrderID_WORKORDERGRANT])
REFERENCES [dbo].[WORKORDER] ([WorkOrderID])
GO
USE [master]
GO
